.draggable {
	position: absolute;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	opacity: .7;
}

.droppable {
	z-index: 50;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	
	-webkit-box-shadow: 0 0 10px #333;
	-moz-box-shadow: 0 0 10px #333;
	-o-box-shadow: 0 0 10px #333;
	box-shadow: 0 0 10px #333;
}

@-webkit-keyframes pulsing {
    0% { -webkit-transform: scale(1); }
    50% { -webkit-transform: scale(1.2); }
    100% { -webkit-transform: scale(1); }
}

.pulsing {
    -webkit-animation: pulsing 1.5s infinite ease-in-out;
    -webkit-animation-delay: 0.2s;
}